.submit{
  margin-left: 218px;
  margin-top: 18px;
}

.subform{
  border: 1px solid greenyellow;
  margin: 30px auto;
  padding: 10px;
  width: 320px;
  border-radius: 10px;
}

.label-span{
  margin-right: 27px;
}


